:root {
  --theme-colour: #8f87d8;
  --theme-color-text: #e5e4eb;
  --theme-colour-alt: #e5e4eb;
  --theme-colour-alt-text: #8f87d8;
}

body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--theme-colour-alt);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.uppercase {
	text-transform: uppercase;
}

.main-layout {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.header {
  text-align: center;
  width: 100%;
  color: var(--theme-color-text);
}

.header__container {
  flex: 0 1 auto;
  display: flex;
  justify-content: space-between;
  background-color: var(--theme-colour);
}

.nav-menu__container {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--theme-colour);
}

.nav-menu__button {
  background-color: var(--theme-colour-alt);
  text-align: center;
  font-size: 2.0rem;
  border: 2px solid var(--theme-colour);
  width: 100%;
}

.active {
  background-color: var(--theme-colour);
  color: var(--theme-color-text);
}

.home-heading {
  font-size: 4vw;
}

.home-img {
  width: 40%;
}

.home-stats-container {
  display: flex;
  padding: 10px;
}

.stats-container {
  margin: 0.5em;
}

.m-table {
  
}

.m-row {
  display: flex;
  justify-content: space-between;
  background-color: white;
  
}

.m-header-row {
  background-color: var(--theme-colour-alt);
  color: var(--theme-colour-alt-text);
}

.m-header-cell {
  width:25%;
  border-left: 4px solid var(--theme-colour);
}

.m-cell {
  width: 25%;
  border-bottom: 1px dashed black;
  font-size: 2vw;
}

.m-header {
  font-size: 3vw;
}

.m-select {
  width: 100%;
}

.m-image {
  width: 50%;
}

.m-emoji {
  font-size: 1.5em;
}

.loading-container {
  font-size: 2.0em;
  text-align: center;
  padding: 2em;
}

.confess__container {
  width: 50%;
  margin: auto;
  padding: 2em;
  background-color: white;
}

.confess-form {
  width: 100%;
  margin: auto;
  align-content: center;
}

.confess-info {
  font-size: 1.5em;
}

.input-text {
  font-size: 1.5rem;
}

.input-box {
  width: 100%;
}

.input-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 0.5em;
}

.input-textarea {
  width: 100%;
}

.form-button {
  font-size: 1.5rem;
  width: 50%;
  margin: auto;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(235, 195, 64);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--theme-colour);
  color: var(--theme-color-text);
}

@media only screen and (min-width:600px) {
  .nav-menu__container {
    flex-direction: row;
    justify-content: space-around;
  }

  .m-header {
    font-size: 20px;
  }

  .m-cell {
    font-size: 20px;
  }

  .input-box {
    width: 70%;
  }

  .input-container {
    flex-flow: row;
  }
}